<h1>Update status</h1>   <%= link_to image_tag('/assets/subscribe.gif'),  subscribe_user_url(current_user), :remote => true %>
 
<%= form_for(@post, :remote => true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=f.text_area :body, :cols => 100, :rows => 3 %>
  <div class="actions">
    <%= f.submit 'Post status', :class => 'post_status' %>
  </div>
<% end %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<div id='show_posts'>
<%if @posts %>

<% @posts.each do |post| %>
   <tr>
    <td><%= post.body %></td>

  </tr>
<% end %>
<% end %>
 </div>
</table>

<br />

<%= link_to 'New Post', new_post_path %>


<script>
$(document).ready(function() {
  $(".post_status").click(function(){
     $("#new_post").submit();
  })
});

</script>